<div id="root" class="container-fluid font bground">
	<div class="centrarElementos"><img src="/assets/img/carrito.png" alt="Carrito"></div>
	<div class="centrarElementos">
		<h1 class="py-5">Tu carrito está vacío</h1>
	</div>
	<div class="centrarElementos">
		<p>No tienes productos en tu carrito de compras.</p>
	</div>
	<div class="centrarElementos"><a class="textLink" href="/"><button class="btnAgregarProducto">Seguir
				navegando</button></a><br><br><br><br><br><br><br><br></div>
</div>