<h2>Recuperación de la cuenta</h2>
<br>
<br>
<form action="" id="forgotPasswordForm">
  <div>
    <p>Si ya estás registrado te enviaremos un link a tu correo para que puedas crear una nueva contraseña, dime cual es el correo con el que te registraste</p>
    <label for="">E-mail</label>
    <input id="mail" type="email" name="email">
    <p id="errorMessage" style="color: red"></p>
    <button type="submit">Enviar</button>  
  </div>
</form>

<script src="/js/forgot.passwlrd.js"></script>