<div class="row">
  <div class="col-12 col-lg-12 d-flex justify-content-center">
    <h1 class="py-5">Reseteo de tu contraseña</h1>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-12 d-flex justify-content-center">
    <div>
      
      <form action="" id="forgotPasswordForm">        
        <div class="mb-3 user-login">
          <input class="form-control" type="email" placeholder="email@ejemplo.com" name="email" id="mail" />
          <p id="errorMessage" style="color: blueviolet"></p>
        </div>
        <div class="mb-5 pb-5 justify-content-center">
          <button type="submit" class="boton-iniciar">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<p class="col-12 col-lg-12 d-flex justify-content-center">Si ya estás registrado te enviaremos un link a tu correo para que puedas crear una nueva contraseña, dinos cual es el correo con el que te registraste.</p>
<br><br><br><br><br>
<script src="/js/forgot.passwlrd.js"></script>