<div class="row">
    {{#each products}}
    <div class="col-12 col-lg-4 pt-5">
        <img src={{this.thumbnails}} alt="Fhoto">
        <p>{{this.description}} <br> Precio por {{this.measurement}}: {{this.price}}</p>
    </div>       
    {{/each}}
</div>