<h2>Login</h2>
<br>
<br>
<form action="" id="loginForm">
  <div>
    <label for="">Usuario</label>
    <input type="email" name="email">
  </div>
  <div>
    <label for="">Password</label>
    <input type="password" name="password">
    <p id="errorMessage" style="color: red"></p>
    <a href="auth/forgot-password">¿Olvidaste tu contraseña?</a>
  </div>
  <br>
  <button type="submit">Iniciar sesión</button>

</form>
  <br>
  <a href="/auth/github"> ngresar usando GitHub</a>
  <br>
  <a href="/signup">Regístrarte</a>

<script src="/js/login.js"></script>