<h2>Login</h2>
<br>
<br>
<form action="" id="loginForm">
  <div>
    <label for="">Usuario</label>
    <input type="email" name="email">
  </div>


  <div>
    <label for="">Password</label>
    <input type="password" name="password">
  </div>
  <br>
  <button type="submit">Iniciar sesión</button>

</form>
  <button id="btnRegistrarse">Regístrate</button>

<script src="/js/login.js"></script>