<div class="row" id="productos">
    {{#each products}}
    <div class="col-12 col-lg-4">
        <img src={{this.thumbnails}} alt="Fhoto">
        <p>{{this.description}} <br> Precio por {{this.measurement}}: {{this.price}}</p>
    </div>       
    {{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>