<h2>Crea una nueva contraseña</h2>
<br>

<form action="" id="resetPassForm">
  <div>
    <input type="hidden" id="userId" value={{email}}>
    <label for="">Ingresa la nueva constaseña</label>
    <input type="password" id="password1">
    <br>
    <label for="">Re ingresa la nueva constaseña</label>
    <input type="password" id="password2">
    <p id="errorMessage" style="color: red"></p>
  </div>
  <br>
  <button type="submit">Aceptar</button>
</form>


<script src="/js/reset.pasword.js"></script>